@import "./util/reset";
@import "./util/mixins";
$text-color: black;
$primary-color: white;
$accent-color: lime;
$mobile-cutoff: 550px;
h1,h2,h3,h4,h5,h6{
font-weight: 900;
}
body{
    background-color: green;
    display: flex;
    flex-direction: column;
    font-family: arial;
    & > * {
        @include center-auto;
    }
}
header{
    display: flex;
    flex-direction: column;
    width: 100%;
    & h1{
        border-bottom: 0.25rem $accent-color solid;
        background-color: $primary-color;
        font-weight: 900;
        font-size: 1.5rem;
        height: 4.5rem;
    }
    & nav {
        @media screen and (min-width: $mobile-cutoff) {
            @include center-auto;
            @include formatNav(true, false);
            background-color: $accent-color;
        }
        @media screen and (max-width: $mobile-cutoff) {
            @include center-auto;
            @include formatNav(false, true);
            background-color: $primary-color;
        
            & ul {
                column-gap: 2rem;
            }
        }
    }
}
.carousel{
    @include formatCarousel;
    width: 400px;
}
.disabled {
    display: none;
}
